*
!.*
!.*/**
.android/
.bmks/
.cache/
.cargo/
.cfg/
.config/BraveSoftware/
.config/Google/
.config/VSCodium/Backups/
.config/VSCodium/Cache/
.config/VSCodium/CachedData/
.config/VSCodium/CachedExtensions/
.config/VSCodium/Code Cache/
.config/VSCodium/Crash Reports/
.config/VSCodium/GPUCache/
.config/VSCodium/Local Storage/
.config/VSCodium/Session Storage/
.config/VSCodium/User/globalStorage/
.config/VSCodium/User/workspaceStorage/
.config/VSCodium/exthost Crash Reports/
.config/VSCodium/logs/
.config/VSCodium/Cookies
.config/VSCodium/Cookies-journal
.config/VSCodium/Network Persistent State
.config/VSCodium/Preferences
.config/VSCodium/TransportSecurity
.config/VSCodium/languagepacks.json
.config/VSCodium/machineid
.config/VSCodium/rapid_render.json
.config/VSCodium/storage.json
.config/android/
.config/autostart/
.config/broot/
.config/coc/
.config/dconf/
.config/discord/
.config/flameshot/
.config/htop/
.config/lazygit/
.config/leap/
.config/menus/
.config/mpv/watch_later/
.config/ncspot/userstate.cbor
.config/nvim/autoload/
.config/nvim/plugged/
.config/nvim/.netrwhist
.config/pulse/
.config/qBittorrent/rss/
.config/qBittorrent/qBittorrent-data.conf
.config/qBittorrent/qBittorrent.conf
.config/torbrowser/
.config/pavucontrol.ini
.config/wallpaper
.gnupg/
.icons/
.java/
.lokinet/
.mozilla/
.npm/
.pki/
.themes/
.vscode-oss/
.Xauthority
.bash_history
.bash_logout
.bash_profile
.pam-gnupg
.config/lbry/
.config/chromium/
.config/libreoffice/
.config/GIMP/
.config/pcmanfm/
.config/libfm/
.ssh/
.local/bin/
.local/include/
.local/lib/python3.9/site-packages/greenlet/tests/__pycache__/__init__.cpython-39.pyc
.local/lib/python3.9/site-packages/greenlet/tests/__pycache__/test_contextvars.cpython-39.pyc
.local/lib/
.local/share/Google/
.local/share/applications/mimeinfo.cache
.local/share/battery/
.local/share/calcurse/
.local/share/cargo/
.local/share/desktop-directories/
.local/share/fzf-history/
.local/share/go/
.local/share/icons/
.local/share/iwctl/
.local/share/lbry/
.local/share/lutris/
.local/share/mail/
.local/share/mime/
.local/share/newsboat/
.local/share/nvim/
.local/share/password-store/
.local/share/qBittorrent/
.local/share/qutebrowser/
.local/share/torbrowser/
.local/share/vifm/
.local/share/xorg/
.local/share/zathura/
.local/share/zoxide/
.local/share/history
.local/share/recently-used.xbel
.config/darkorbit-client/
.python_history
.config/gtk-2.0/gtkfilechooser.ini
.config/QtProject.conf
.local/share/Trash/
.local/share/gvfs-metadata/
.config/transmission-daemon/
.config/lutris/
.cert/
.config/Meltytech/
.config/galculator/
.config/inkscape/
.config/protonvpn/
.config/qBittorrent/watched_folders.json
.config/qt5ct/
.config/droidcam
.local/share/Meltytech/
.local/share/aerc/
.local/share/keyrings/
.pvpn-cli/
.openshot_qt/
.config/qutebrowser/__pycache__/
.config/xarchiver/
.config/qutebrowser/bookmarks/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/quickmarks
.local/share/display_state
.config/nyxt/
.local/share/nyxt/
.slime/
.config/qutebrowser/qsettings/
.minecraft/
.config/keepmenu-sh/
.config/pipe-viewer/
.local/share/systemd/

.config/systemd/user/default.target.wants/
.config/systemd/user/timers.target.wants/
.config/systemd/user/protonvpn_reconnect.service
.xboardrc
.config/Element/
.config/whoozle.github.io/
.config/pacman/
.config/qrcp/
.local/share/keepassxc-databases/
.config/keepassxc/